<div class="row">
  <div class="span6">
    <div class="documents-section-errors">
      <!-- put dynamic errors onhere -->
      
      <!-- it should like the errors on the other pages. Be consistent. -->
    </div>
    <div class="back-to-documents-listing">
      <button class="btn btn-primary" onclick="document.location.href='/document/<%= userDocument.id %>';">
	<i class="icon-backward"></i>
	Back to Document
      </button>
      <button class="btn btn-primary" onclick="document.location.href='/';">
	<i class="icon-backward"></i>
	Back to Documents Listing
      </button>
    </div>
    <div id="header">
      <div id="htext">
	Viewing&nbsp;
	<b class="current-doc" data-doc-id="<%= userDocument.id %>" id="docname"><%= userDocument.name %></b>
	&nbsp;history
	<small id="last-saved-time-parent" style="display:none;" class="pull-right">
	  Last Saved <span id="last-saved-time"></span>
	</small>  
      </div>
    </div>
	<!-- -->
	<div id="fileuploader">Upload</div>
	<br><br>
		
	<ul>
	<% for(var i = 0; i < images.length; i++) { %>
		<% if(images[i] != "contents.tex" && images[i] != "dummy" && images[i] != ".git") { %>
			<li>
				<%= images[i] %>
			</li>
		<% } %>
	<% } %>
	</ul>
	
<link href="https://rawgithub.com/hayageek/jquery-upload-file/master/css/uploadfile.css" rel="stylesheet">
<script src="https://rawgithub.com/hayageek/jquery-upload-file/master/js/jquery.uploadfile.min.js"></script>
<script>
$(document).ready(function()
{
	$("#fileuploader").uploadFile({
	url:"/image-upload/<%= userDocument.id %>",
	fileName:"myfile"
	});
});
</script>